@import './mixin';

.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoints-down(medium) {
    // padding: 0 4em;
  }

  @include breakpoints-down(small) {
    padding: 0;
  }

  @include breakpoints-up(large) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    // overflow: hidden;
  }

  @include breakpoints-up(xlarge) {
    height: 35%;
  }

  .about__image {
    width: 100%;

    @include breakpoints-up(large) {
      display: none;
      padding: 0;

      order: 1;
    }

    @include breakpoints-up(medium) {
      padding: 0 4em;
    }

    @include breakpoints-up(xlarge) {
      display: block;
      order: 0;
    }

    img {
      object-fit: cover;
    }
  }

  .about__text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include breakpoints-up(medium) {
    //   padding: 6em 3em;
    // }

    // @include breakpoints-down(small) {
    //   padding: 6em 2.5em;
    // }

    @include breakpoints-up(large) {
      // padding: 6em 4em;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      // padding: 1em 4rem;

      // order: 3;
      // &:nth-of-type(2) {
      //   order: 3;
      // }
    }

    // @include breakpoints-up(xlarge) {
    //
    // }

    h2 {
      font-size: 0.76rem;
      font-weight: 700;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 1em;

      @include breakpoints-up(medium) {
        font-size: 1rem;
      }
    }

    p {
      color: $darkGray;
      line-height: 1.7;
    }
  }

  .footer__image {
    width: 100%;

    @include breakpoints-up(large) {
      padding: 0;
    }

    @include breakpoints-up(xlarge) {
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include breakpoints-up(large) {
      }
    }
  }
}
