@import './mixin';

.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoints-up(large) {
    height: 40%;
  }

  @include breakpoints-up(large) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @include breakpoints-up(xlarge) {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  @include breakpoints-up(xlarge) {
    height: 35%;
  }

  .about__image {
    width: 100%;

    @include breakpoints-up(large) {
      display: none;
    }

    @include breakpoints-up(medium) {
      padding: 0 4em;
    }

    @include breakpoints-up(xlarge) {
      display: block;
      padding: 0;
    }

    img {
      object-fit: cover;

      @include breakpoints-up(xlarge) {
        height: 100%;
      }
    }
  }

  .about__text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoints-up(large) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-size: 0.76rem;
      font-weight: 700;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 1em;

      @include breakpoints-up(medium) {
        font-size: 1rem;
      }
    }

    p {
      color: $darkGray;
      line-height: 1.7;
    }
  }

  .footer__image {
    width: 100%;

    @include breakpoints-up(large) {
      padding: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
