.header {
  width: 100%;
  height: 113px;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 4em;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  @include breakpoints-down(small) {
    padding: 0 2.5em;
  }

  @include breakpoints-up(large) {
    padding: 0 4em;
  }

  .menu__mobile {
    width: 22px;
    height: 13px;
    position: absolute;
    cursor: pointer;

    @include breakpoints-up(medium) {
      display: none;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: 0.32em;
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    font-weight: 500;
    color: $white;

    @include breakpoints-up(medium) {
      position: relative;
      left: 0;
      margin-right: 2.5em;
      transform: translateX(0);
    }
  }

  .nav__menu {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    transform: translateY(-113px);
    transition: transform 300ms ease-in-out;

    @include breakpoints-up(medium) {
      position: relative;
      height: auto;
      transform: translateY(0);
      background-color: transparent;
      padding: 0;
    }

    .mobile__close {
      @include breakpoints-up(medium) {
        display: none;
      }
    }

    a {
      color: $darkGray;
      font-weight: 700;
      color: $black;
      text-transform: lowercase;
      letter-spacing: -1px;

      &:not(:last-child) {
        margin-right: 2.3em;
      }

      @include breakpoints-up(medium) {
        position: relative;
        font-size: 0.7rem;
        font-weight: 300;
        letter-spacing: 0.3px;
        color: $white;
        padding-bottom: 8px;

        &::before {
          content: '';
          background-color: $white;
          width: 1px;
          height: 1.4px;
          opacity: 0;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: all 200ms ease-in-out;
        }

        &:hover:before {
          opacity: 1;
          width: 25px;
        }
      }
    }
  }
}
