.hero__container {
  width: 100%;

  @include breakpoints-up(large) {
    height: 60%;
    display: flex;
  }

  @include breakpoints-up(xlarge) {
    height: 65%;
  }
}

.hero__background {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;

  @include breakpoints-up(large) {
    width: 60%;
  }

  .carousel {
    display: flex;
    overflow-x: hidden;

    .carousel-item {
      img {
        object-fit: cover;
        height: 100%;
        object-position: center center;
      }
    }
  }

  .arrows__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 113px;
    height: 56px;
    background-color: $black;

    @include breakpoints-up(xlarge) {
      transform: translateX(144px);
      width: 144px;
      height: 70px;
    }

    .carousel-control-prev {
      margin-left: 1.6em;
    }

    .carousel-control-next {
      margin-right: 1.6em;
    }

    img {
      width: 11px;
      height: 19px;
      opacity: 0.6;
    }
  }
}

.overlay {
  @include breakpoints-down(small) {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    transition: 400ms ease-in-out;
  }
}

.hero__copy {
  width: 100%;

  @include breakpoints-up(large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  @include breakpoints-up(xlarge) {
    width: 40%;
    padding: 6em 7em;
  }

  .copy__tittle {
    font-size: 1.5625rem;
    margin-bottom: 0.8em;
    font-weight: 700;

    @include breakpoints-up(xlarge) {
      font-size: 2rem;
      margin-bottom: 0.6em;
    }
  }

  .copy__text {
    color: $darkGray;
    line-height: 1.7;
    margin-bottom: 4.58em;

    @include breakpoints-up(xlarge) {
      margin-bottom: 3em;
    }
  }

  .hero__cta {
    display: flex;

    p {
      font-weight: 700;
      color: $black;
      letter-spacing: 11px;
      text-transform: uppercase;
      margin-right: 3.67em;
      transition: color 100ms ease-in-out;

      @include breakpoints-up(medium) {
        &:hover {
          color: $darkGray;
        }
      }
    }

    img {
      width: 41px;
      height: 13px;
    }
  }
}
